<div class='central_small'>
<h2>Status @ <%= FC.state.last_reading_time %></h2>

<table class='summary_table'>
  <thead>
  <tr>
    <th>Sensor</th>
    <th>Now</th>
    <th>Max</th>
    <th>Min</th>
    <th>Avg</th>
  </tr>
  </thead>
  <tbody>
  <% for readings in FC.state.summary %>
      <tr>
        <td><%= readings.sensor.sub "28-000004", "" %> </td>
        <td><%= sprintf("%04.2f",readings.current) %> </td>
        <td><%= sprintf("%04.2f",readings.max) %> </td>
        <td><%= sprintf("%04.2f",readings.min) %> </td>
        <td><%= sprintf("%04.2f",readings.mean) %> </td>
      </tr>
  <% end %>
  </tbody>
</table>

<p>Heating: <b><%=FC.state.heating %></b><br/>
  Heater Utilisation: <b><%=FC.state.heater_utilisation%> %</b> </p>

</div>